@media (max-width: 820px) {
    .nav {
        width: 30px;
        height: 30px;
    }

    .nav__logotype {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 35px;
        // font-size: 15px;
        border-radius: 5px;
        background-color: #ffffff;
    }

    .nav__logo {
        padding-top: 0px;
        width: 30px;
        height: 20px;
        font-size: 15px;
    }

    // hamburger
    .nav__hamburger {
        display: flex;
    }

    .nav__hamburger-line {
        width: 12px;
        height: 1px;
        color: #C4C4C4;
        background: #C4C4C4;
    }

    .nav__items {
        display: none;
    }

    .nav__button {
        display: none;
    }

    .header {
        padding-left: 0px;
    }

    .header__tabs {
        width: 60px;
        height: 50px;
    }

    .header__tabs-padding {
        display: flex;
        justify-content: center;
        padding: 0px;
        align-items: center;
    }

    .header__field {
        position: absolute;
        width: 352px;
        height: 50px;
        margin-top: 42px;
        border: none;
    }

    .header__search {
        left: 0px;
        top: 50px;
    }

    .header__tabs-settings-padding {
        border-left: none;
        display: flex;
        justify-content: center;
        padding: 0px;
        align-items: center;
    }

    .header--img {
        display: none;
    }

    .header--size {
        width: auto;
        height: 50px;
        padding: 0px;
        text-align: center;
    }

    .header__footer {
        margin-top: 10px;
        border-top: 0.5px solid #E6E6E6;
        overflow-y: scroll;
    }

    .section {
        flex-direction: column;
        justify-content: center;
    }

    .main {
        padding-left: 0px;
    }

    .main__header {
        margin-top: 34px;
        margin-left: 0px;
        margin-right: 0px;
        overflow-y: scroll;
    }

    .main__card {
        margin: 0px auto;
        margin: 0px auto;
    }

    .main__inner {
        height: auto;
    }

    .main__inner-blocks {
        height: auto;
    }

    .main__inner-blocks-clock {
        display: none;
    }

    .main__footer {
        height: auto;
        margin: 0 auto;
        margin-top: 15px;
    }

    .main__footer-card {
        display: none;
    }

    .main__footer-inner {
        display: none;
        margin-left: 0px;
        width: 0px;
    }

    .main__footer-span {
        width: auto;
    }

    .main__todo {
        margin-top: 15px;
    }

    .main__card-margin {
        margin-top: 15px;
    }

    .aside {
        margin-top: 15px;
    }

    .aside__footer {
        width: auto;
        height: auto;
    }

    .aside__cards {
        width: 100%;
        height: 250px;
    }

    .aside__field {
        margin: 0 auto;
        border-top: none;
    }

    .aside__round {
        margin: 0px;
        width: 45px;
        height: 45px;
    }

    .aside__header {
        margin-top: 5px;
    }
    
    .aside__socials {
        padding: 0px;
        margin-top: 5px;
        justify-content: space-around;
    }
}