@mixin nav-text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: #FFFFFF;
}

@mixin names {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    
}

@mixin function {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;;
    font-size: 12px;
    
}