.aside {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    // max-width: 271px;
    
    // pepople message likes
    &__menu {
        display: flex;
        justify-content: space-between;
        // width: 240px;
        height: 48px;
        @include gradient-left;
    }

    &__blocks {
        position: relative;
        width: 90px;
        height: 48px;
        cursor: pointer;
    }


    &__blocks:hover::after {
        position: absolute;
        content: '';
        top: 48px;
        left: calc(50% - 10px);
        border: 10px solid transparent;
        border-top: 6px solid #FD5670;
        
    }

  
    &--people {
        background: url(/source/img/bar_icons/people.svg) no-repeat center;
    }

    &--chat {
        background: url(/source/img/bar_icons/chat.svg) no-repeat center;
    }

    &--like {
        background: url(/source/img/bar_icons/like.svg) no-repeat center;
    }
    
    &__cards {
        background-color: #ffffff;
        // flex-grow: 1;
        overflow-y: scroll;    
    }

    &__cards-block {
        display: flex;
        justify-content: space-around;
        // width: 240px;
        height: 75px;
        margin-left: 9px;
        border-bottom: 2px solid #E6E6E6;
    }

    &__titles {
        width: 130px;
        height: 86px;
        padding-top: 25px;
        padding-left: 15px;
    }

    &__chat {
        padding-left: 30px;
    }

    &__field {
        display: flex;
        height: 48px;
        font-size: 10px;
        padding-left: 20px;
        padding-top: 10px;
        background: #ffffff;
        border-bottom: 1px solid #E6E6E6;
        border-top: 1px solid #E6E6E6;
    }
    
    &__search {
        width: 175px;
        height: 18px;
        border: none;
        border-bottom: 1px solid #E6E6E6;
        
    }

    &__button {
        width: 20px;
        height: 20px;
        border: none;
        margin-left: 10px;
        background: url(/source/img/bar_icons/zoom.svg);
    }

    &__correct {
        width: 20px;
        height: 20px;
        border: none;
        margin-left: 10px;
        background: url(/source/img/bar_icons/edit.svg)
    }



    
    &__footer {
        width: 271px;
        height: 230px;
        background: #ffffff
    }

    &__header {
        height: 13px;
        text-align: center;
        @include names;
        margin-top: 30px;
    }

    &__socials {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 23px;
        // justify-content: space-around;
        // margin-top: 25px;
        // margin-left: 35px;
    }

    &__round {
        display: flex;
        justify-content: center;
        width: 55px;
        height: 55px;
        margin: 10px;
        border-radius: 15px;
    }

    &__round-gradient-o {
        background: linear-gradient(to top, #725CB9 0%, #A86ADA 100%);
    }

    &__round-gradient-e {
        background: linear-gradient(to top, #57C4C6 0%, #50DEC4 100%);
    }

    &__round-gradient-z {
        background: linear-gradient(to top, #BC797D 0%, #EAAB92 100%);
    }

    &__round-gradient-x {
        background: linear-gradient(to top, #8252BC 0%, #747EDD 100%);
    }

    &__round-gradient-v {
        background: linear-gradient(to top, #5595E7 0%, #31C0DF 100%);
    }

    &__round-gradient-vk {
        background: linear-gradient(to top, #F59783 0%, #FACC88 100%);
    }


    &__logo {
        width: 55px;
        height: 55px;
        margin: 10px 7px;
        // padding-left: 20px;
    }


}