.aside {
    width: 273px;
    height: 889px;
}

.aside__likes {
    width: 271px;
    height: 48px;
}

.aside__users {
    width: 271px;
    height: 516px;
}

.aside__search {
    width: 271px;
    height: 48px;
}