.aside {
    background: #99cccc;
    display: flex;
    flex-direction: column;
    width: 271px;
    
    // pepople message likes
    &__menu {
        background-color: darkviolet;
        height: 48px;
    }
    
    &__cards {
        background-color: yellow;
        flex-grow: 1;        
    }
    
    &__search {
        background-color: darkviolet;
        height: 48px;
    }
    
    &__footer {
        background-color: yellow;
        width: 271px;
        height: 120px;
    }
}