.header {
    // width: 1298px;
    height: 170px;
    background: #cccccc;
    padding-left: 75px;

    &__main {
        width: 1298px;
        height: 71px;
    }

    &__footer {
        width: 1298px;
        height: 98px;
    }
}