.header {
    // width: 1298px;
    height: 170px;
    background: #FFFFFF;
    padding-left: 75px;

    &__main {
        display: flex;
        max-width: 1298px;
        height: 75px;
    }

    &__tabs {
        // display: flex;
        width: 75px;
        height: 75px;
        border: 0.5px solid #E6E6E6;
        background: #FFFFFF;
    }

    &__tabs-padding {
        padding-top: 22px;
    }

    &__tabs-settings-padding {
        padding-top: 22px;
        padding-left: 50px;
        border-left: none;
    }

    &__ellipse {
        display: flex;
        justify-content: space-around;
        width: 38px;
        height: 18px;
        margin-top: 22px;
        // padding-top: 22px;
        align-items: center;
        margin: auto;
        border: none;
        
        border-radius: 50px;
        background: linear-gradient(to left, #FA745A 0%, #FD5272 100%);
    }

 

    &--folder {
       background: url(/source/img/bar_icons/folder.svg) no-repeat center;
    }

    &--settings {
        background: url(/source/img/bar_icons/settings_header.svg) no-repeat center;
    }

    &--upload {
        background: url(/source/img/bar_icons/upload.svg) no-repeat center;
    }

    &--planet {
        background: url(/source/img/bar_icons/planet.svg) no-repeat center;
    }

    &--letter {
        background: url(/source/img/bar_icons/letter.svg) no-repeat center;
    }

    &--img {
        background: url(/source/img/jpg/Kendall.svg) no-repeat center;
    }



    &__field {
        display: flex;
        justify-content: center;
        width: 578px;
        height: 100%;
        text-align: center;
        align-items: center;
        // border: 1px solid;
        border: 0.5px solid #E6E6E6;
        // width: 335px;
        // height: 35px;
    }

    &__search {
        @include function;
        width: 200px;
        height: 25px;
        padding-left: 20px;
        font-size: 13px;
        color: #ECECEC;
        border-radius: 50px 0 0 50px;
        border: 0.5px solid #E6E6E6;
        border-right: none;
        background: #F8F8F8;
        
    }

    &__button {
        width: 35px;
        height: 29px;
        background: url(/source/img/bar_icons/zoom.svg) no-repeat center;
        border: none;
        border-radius: 0 50px 50px 0;
        border: 1px solid;
        border-left: none;
        color: #ECECEC;
        background-color: #F8F8F8;
        // background: #F8F8F8;
    }

    &__names {
        @include names;
        width: 130px;
        height: 20px;
        color: #FD4E75;
    }

    &__function {
        @include function;
        width: 110px;
        height: 20px;
        color: #BFBFBF;
    }

    &--size {
        display: flex;
        flex-direction: column;
        width: 120px;
        height: 75px;
        padding-left: 20px;
        padding-top: 20px;
        border-right: none;
        // border: none;
        text-align: left;
    }

    &__footer {
        display: flex;
        max-width: 1293px;
        // height: 95px;
        border-right : 0.5px solid #E6E6E6;
    }

    &__blocks {
        width: 160px;
        height: 95px;
        background: #FFFFFF;
        // background: linear-gradient(to left, #FA745A 0%, #FD5272 100%);
        padding-left: 35px;
        padding-top: 15px;
    }

    &__title {
        @include nav-text;
        // width: 71px;
        height: 17px;
        font-size: 12px;
        color: #767676;
    }

    &__text {
        @include nav-text;
        font-size: 20px;
        margin-top: 10px;
        text-transform: uppercase;
        color: #FD576F;
        margin-top: 8px;
        // background: #FFFFFF;
        // mix-blend-mode: screen;
    }

    &__span-text {
        display: flex;
        justify-content: space-between;
        // align-content: space-between;
        width: 80px;
        height: 20px;
        margin-top: 8px;
        margin-left: 15px;
    }

    &__span-high {
        position: relative;
        @include nav-text;
        font-size: 12px;
        color: #BFBFBF;
    }

    &__span-high::before {
        position: absolute;
        content: ''; 
        left: -10px; 
        bottom: 10px; /* Положение треугольника */
        border: 4px solid transparent; /* Прозрачные границы */
        border-bottom: 6px solid #A889E9; /* Добавляем треугольник */
    }

    &__span-low {
        position: relative;
        @include nav-text;
        font-size: 12px;
        color: #BFBFBF;
    }

    &__span-low::before {
        position: absolute;
        content: ''; 
        // bottom: 7px;
        left: -10px; 
        bottom: 8px; /* Положение треугольника */
        border: 4px solid transparent; /* Прозрачные границы */
        border-top: 6px solid #FD5670; /* Добавляем треугольник */
    }

    &__title-color {
        color: #FD5372;
        margin-top: 20px;
    }

    // &__settings-margin {
    //     margin-top: 20px;
    //     padding-left: 53px;
    // }
}