.main {
    width: 990px;
    height: 795px;
    background: #ccffff;
}

.main__monthly {
    width: 704px;
    height: 266px;
}

.main__revenue {
    width: 264px;
    height: 266px;
}

.main__customers {
    width: 467px;
    height: 508px;
}

.main__toodays {
    width: 501px;
    height: 245px;
}

.main__progress {
    width: 241px;
    height: 245px;
}

.main__shipments {
    width: 241px;
    height: 245px;
}