.main {
    width: 1020px;
    // height: 795px;
    background: #ccffff;


// for all blokcs padding 30px
    .monthly {
        width: 704px;
        height: 266px;
    }

    .revenue {
        width: 264px;
        height: 266px;
    }

    .customers {
        width: 467px;
        height: 508px;
    }

    .toodays {
        width: 501px;
        height: 245px;
    }

    .progress {
        width: 241px;
        height: 245px;
    }

    .shipments {
        width: 241px;
        height: 245px;
    }
}