// $min-card-size: 250px;


.main {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
   
    // monhly revonue progress

    &__monthly {
        width: 755px;
        height: 250px;
        background-color: aqua;
    }

    &__card {
        height: 250px;
        width: 250px;
        background-color: darkcyan;
        margin: 5px;
    }

    &__customers {
        height: 500px;
        width: 450px;
        background-color: darkolivegreen;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        height: 520px;
        width: 520px;
        background-color: aqua;
    }

    &__todo {
        width: 500px;
        height: 50%;
        background-color: darkviolet;
    }
}









//     // costomers feed
//     &__aside {
//         width: 460px;
//         height: 500px;
//     }

//     // revenue progress shipments
//     &__footer {
//         width: 260px;
//         height: 260px;
//     }

//     // toodays progrees shipments
//     &__inner {
//         display: flex;
//         flex-wrap: wrap;
//         width: 273px;
//         height: 830px;

//     }
// }



// .header

// .main__todo {
//     width: 500px;
//     height: 245px;
// }

// .main__footer {
//     width: 260px;
//     height: 260px;
// }
