// navigation 2 blocks logo and ul
.nav {
    width: 74px;
    height: 1000px;

    .logo {
        width: 70px;
        height: 71px;
    }

    .nav-items {
        width: 70px;
        height: 929px;
    }
}