.nav {
    position: absolute;
    left: 0;
    width: 75px;
    height: 1000px;
    background: linear-gradient( to bottom, #FA745A 0%, #FD5272 100%);

    &__logo {
        display: block;
        width: 75px;
        height: 75px;
        padding-top: 15px;
        font-family: 'Sansita Swashed', cursive;
        font-size: 40px;
        background: #ffeeff;
        text-align: center;
        text-transform: uppercase; 
        color: #ff3333;    
        background: #FFFFFF;
        cursor: pointer;
        box-shadow: 5px -5px 12px 5px #DEDEDE;
    }

    &__items {
        width: 75px;
        height: 500px;
        text-align: center;
    }

    &__cards {
        width: 75px;
        height: 75px;
        padding-top: 55px;
        cursor: pointer;
    }

    &--home {
        background: url(/source/img/bar_icons/home.svg) no-repeat center;
    }

    &--stactics {
        background: url(/source/img/bar_icons/stat.svg) no-repeat center;
    }

    &--users {
        background: url(/source/img/bar_icons/users.svg) no-repeat center;
    }

    &--settings {
        background: url(/source/img/bar_icons/settings_nav.svg) no-repeat center;
    }

    &--quires {
        background: url(/source/img/bar_icons/quires.svg) no-repeat center;
    }

    &__titles {
        @include nav-text;
    }

    &__button {
        width: 20px;
        height: 20px;
        margin-left: 30px;
        margin-top: 340px;
        background: url(/source/img/bar_icons/power.svg) no-repeat;
        border: none;
        cursor: pointer;
    }
}