// navigation 2 blocks logo and ul
.nav {
    position: absolute;
    left: 0;
    width: 75px;
    // height: 1000px;
    background: #ff3300;


    .logo {
        display: block;
        width: 75px;
        height: 75px;
        font-size: 30px;
        background: #ffeeff;
        text-align: center;
        text-transform: uppercase; 
        color: #ff3333;    
    }

    .nav-items {
        width: 75px;
        height: 890px;
    }
}